<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.scm.mapper.ScmNretailIpwMapper">

    <insert id="save" parameterType="java.util.List">
        INSERT into scm_nretail_ipw (`prov`, `ds`, `matnr`, `cnt`) values
        <foreach collection ="list" item="scmNretailIpd" separator =",">
            <trim prefix="(" suffix=")" suffixOverrides=",">
                    #{scmNretailIpd.prov,jdbcType=VARCHAR},
                    #{scmNretailIpd.ds,jdbcType=DATE},
                    #{scmNretailIpd.matnr,jdbcType=VARCHAR},
                    #{scmNretailIpd.cnt,jdbcType=DECIMAL}
            </trim>
        </foreach >
    </insert>
    <update  id="truncate">
        TRUNCATE TABLE scm_nretail_ipw
    </update >
    <select id="getAll" resultType="org.jeecg.modules.predict.entity.ScmNretailIpw">
        SELECT matnr, prov,ds ,cnt FROM scm_nretail_ipw ORDER  BY  matnr,prov,ds
    </select>
    <select id="countByGpw" resultType="org.jeecg.modules.scm.vo.ScmNretailpiVo">
        SELECT prov,matnr  FROM scm_nretail_ipw GROUP BY prov, matnr
    </select>
</mapper>