<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jeecg.modules.predict.mapper.ScmNretailMapper">
    <update  id="truncate">
        TRUNCATE TABLE scm_nretail
    </update >
    <select id="getDs" resultType="org.jeecg.modules.predict.vo.ScmNretailDsVo" >
        SELECT prov,matnr,max(ds) maxDs ,min(ds) minDs FROM scm_nretail GROUP BY prov, matnr
    </select>
    <select id="findDsList" parameterType="java.util.HashMap" resultType="java.util.Date">
        SELECT DISTINCT ds  FROM scm_nretail WHERE prov=#{prov} and matnr=#{matnr}
    </select>
    <select id="countByGpw" resultType="org.jeecg.modules.predict.entity.ScmNretailIpw">
        select prov, ds, matnr,SUM(cnt) cnt from scm_nretail group by ds,prov,matnr order by prov, ds, matnr
    </select>

</mapper>